/*--------------------------------------------------------------
Normalizing Styles
--------------------------------------------------------------*/
body, h1, h2, ul, li, a, p, span {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*--------------------------------------------------------------
Base Styles
--------------------------------------------------------------*/
.main img {
  width: 100%;
}

.site {
  background-color: hsl(300, 10%, 10%);
}

/* Typography */
li, a, p {
  font-family: 'IBM Plex Serif', serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-family: 'Monsieur La Doulaise', serif;
  font-size: 60px;
}

.footer p {
  font-size: 10px;
}

/* Spacing */
.header, .main, .footer {
  padding: 0 24px;
}

.header h1 {
  padding: 12px;
}

.images img {
  margin-bottom: 12px;
}

.sm-icons {
  padding: 8px 0 4px;
}

.sm-icons img {
  padding: 0 4px;
}

/* Colour */
h1, li, a, p {
  color: hsl(300, 0%, 85%);
}

/*--------------------------------------------------------------
Component Styles
--------------------------------------------------------------*/
.sm-icons img {
  width: 20px;
}

/*--------------------------------------------------------------
Layout Styles
--------------------------------------------------------------*/
.header, .main, .footer {
  margin: 12px auto;
  max-width: 600px;
}
.header h1 {
  text-align: center;
}

/*--------------------------------------------------------------
Script Styles
--------------------------------------------------------------*/
.hide {
  display: none;
}

.active {
  display: block;
}

/*--------------------------------------------------------------
Component Styles - Burger Menu
--------------------------------------------------------------*/
/* Header grid positioning */
.header {
  display: grid;
  grid:
  "menu"
  "heading"
  ;
}

.heading {
  grid-area: heading;
}

.nav {
  grid-area: menu;
  position: relative;
}

.menu {
  position: absolute;
  right: 0;
}

/* Burger menu */
.menu {
  cursor: pointer;
  width: 32px;
}

.jsMenu {
  display: none;
}

.active {
  display: block;
}
